<html>

<body>
    {% with message = get_flashed_messages()%}
    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}
    {% endwith %}


    <form action ="/newuser" method="post">
        Email<input type ="text" name="email"></input><br><br>
        Age<input type ="text" name="age"></input><br><br>
        Gender<input type ="text" name="gender"></input><br><br>
        Occupation <input type ="text" name="occupation"></input><br><br>
        zipcode <input type ="text" name="zipcode"></input><br><br>
        password <input type ="text" name="password"></input><br><br>
        <input type="submit" value="submit"></input>
    </form>


</body>


</html>